- provide(:title, "#{@user.name}さんのページ")
%p #{@user.name}さん
%p #{@user.title}
%p #{@user.profile}
%p あ<br>あ<br>あ<br>あ<br>あ<br>あ<br>あ<br>あ<br>

%p= link_to 'ログアウト', destroy_user_session_path, method: :delete
