- provide(:title, "#{@user.name}さんのページ")
.mypage-wrapper
  .row
    .col-md-8
      - if user_signed_in? && @user.id == current_user.id
        %h1 マイページ
      .profile-area
        .row
          .col-xs-3
            %p お名前
            %p 肩書き
            %p プロフィール
          .col-xs-9
            %p #{@user.name}さん
            %p #{@user.title}
            %p #{simple_format(@user.profile)}
      .adsense-left
        %p SPONSORED LINK
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        / 予約レスポンシブ
        %ins{class: "adsbygoogle",
             style: "display:block",
             data:{ad:{client: "ca-pub-9627911157097400", slot: "2862552430", format: "auto"}}}
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      - if user_signed_in? && @user.id == current_user.id
        .ticket-area
          %h2 チケット
          %table
            %tr
              .row
                %th.col-md-4 イベント名
                %th.col-md-2 開催日時
                %th.col-md-2 チケット名
                %th.col-md-2 ステータス
                %th.col-md-2
            - @entry_tickets.each do |et|
              %tr
                .row
                  %td.col-md-4= link_to "#{et.ticket.event.name}", event_path(et.ticket.event)
                  %td.col-md-2.text-center=et.ticket.event.event_start.strftime("%m月%d日 %H:%M")
                  %td.col-md-2.text-center=et.ticket.name
                  - if et.ticket.event.event_start >= Time.now
                    %td.col-md-2.text-center 参加予定
                  - else
                    %td.col-md-2.text-center イベント終了
                  %td.col-md-2.text-center キャンセル
          -# %h3 **キャンセルしたチケット
      .event-area
        %h2 主催イベント
        %h3 募集中のイベント
        %table
          %tr
            .row
              %th.col-md-4 イベント名
              %th.col-md-2 開催日時
              %th.col-md-2 募集状況
              %th.col-md-2 募集終了日時
              %th.col-md-2
          - @wanted_events.each do |we|
            %tr
              .row
                %td.col-md-4= link_to "#{we.name}", event_path(we)
                %td.col-md-2.text-center=we.event_start.strftime("%m月%d日 %H:%M")
                %td.col-md-2.text-center *** / #{we.tickets.sum(:quantity)}
                %td.col-md-2.text-center=we.recruit_end.strftime("%m月%d日 %H:%M")
                - if user_signed_in? && @user.id == current_user.id
                  %td.col-md-2.text-center= link_to '編集', edit_event_path(we)
                - else
                  %td.col-md-2
        -# %p 準備中のイベント
        %h3 終了したイベント
        %table
          %tr
            .row
              %th.col-md-4 イベント名
              %th.col-md-2 開催日時
              %th.col-md-2 募集結果
              %th.col-md-2 募集終了日時
              %th.col-md-2
          - @finished_events.each do |fe|
            %tr
              .row
                %td.col-md-4= link_to "#{fe.name}", event_path(fe)
                %td.col-md-2.text-center=fe.event_start.strftime("%m月%d日 %H:%M")
                %td.col-md-2.text-center *** / #{fe.tickets.sum(:quantity)}
                %td.col-md-2.text-center=fe.recruit_end.strftime("%m月%d日 %H:%M")
                - if user_signed_in? && @user.id == current_user.id
                  %td.col-md-2.text-center 複製
                - else
                  %td.col-md-2
        - if user_signed_in? && @user.id == current_user.id
          %p
            = link_to 'イベントを作成する', new_event_path, class: 'event-create-btn'
      - if user_signed_in? && @user.id == current_user.id
        .account-area
          %h2 アカウント
          %p
            = link_to 'アカウント編集', edit_user_registration_path
          %p
            = link_to 'ログアウト', destroy_user_session_path, method: :delete
    .col-md-4
      .adsense-right
        %p SPONSORED LINK
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        -# 予約300×600
        %ins{class: "adsbygoogle",
             style: "display:inline-block;width:300px;height:600px",
             data:{ad:{client: "ca-pub-9627911157097400", slot: "2581999765"}}}
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
