%footer
  .container-fluid
    .classify.row#classify
      %h2一覧から探す
      .prefecture.col-md-3.col-xs-12
        %h3 都道府県
        %ul.row
          .col-xs-6
            %li= link_to "北海道（#{Event.where(prefecture_code: 1).count()}）", hokkaido_path
            %li= link_to "青森県（#{Event.where(prefecture_code: 2).count()}）", aomori_path
            %li= link_to "秋田県（#{Event.where(prefecture_code: 3).count()}）", akita_path
            %li= link_to "岩手県（#{Event.where(prefecture_code: 4).count()}）", iwate_path
            %li= link_to "宮城県（#{Event.where(prefecture_code: 5).count()}）", miyagi_path
            %li= link_to "山形県（#{Event.where(prefecture_code: 6).count()}）", yamagata_path
            %li= link_to "福島県（#{Event.where(prefecture_code: 7).count()}）", fukushima_path
            %li= link_to "茨城県（#{Event.where(prefecture_code: 8).count()}）", ibaraki_path
            %li= link_to "栃木県（#{Event.where(prefecture_code: 9).count()}）", tochigi_path
            %li= link_to "群馬県（#{Event.where(prefecture_code: 10).count()}）", gunma_path
            %li= link_to "埼玉県（#{Event.where(prefecture_code: 11).count()}）", saitama_path
            %li= link_to "千葉県（#{Event.where(prefecture_code: 12).count()}）", chiba_path
            %li= link_to "東京都（#{Event.where(prefecture_code: 13).count()}）", tokyo_path
            %li= link_to "神奈川県（#{Event.where(prefecture_code: 14).count()}）", kanagawa_path
            %li= link_to "新潟県（#{Event.where(prefecture_code: 15).count()}）", niigata_path
            %li= link_to "富山県（#{Event.where(prefecture_code: 16).count()}）", toyama_path
            %li= link_to "石川県（#{Event.where(prefecture_code: 17).count()}）", ishikawa_path
            %li= link_to "福井県（#{Event.where(prefecture_code: 18).count()}）", fukui_path
            %li= link_to "山梨県（#{Event.where(prefecture_code: 19).count()}）", yamanashi_path
            %li= link_to "長野県（#{Event.where(prefecture_code: 20).count()}）", nagano_path
            %li= link_to "岐阜県（#{Event.where(prefecture_code: 21).count()}）", gifu_path
            %li= link_to "静岡県（#{Event.where(prefecture_code: 22).count()}）", shizuoka_path
            %li= link_to "愛知県（#{Event.where(prefecture_code: 23).count()}）", aichi_path
            %li= link_to "三重県（#{Event.where(prefecture_code: 24).count()}）", mie_path
          .col-xs-6
            %li= link_to "滋賀県（#{Event.where(prefecture_code: 25).count()}）", shiga_path
            %li= link_to "京都府（#{Event.where(prefecture_code: 26).count()}）", kyoto_path
            %li= link_to "大阪府（#{Event.where(prefecture_code: 27).count()}）", osaka_path
            %li= link_to "兵庫県（#{Event.where(prefecture_code: 28).count()}）", hyogo_path
            %li= link_to "奈良県（#{Event.where(prefecture_code: 29).count()}）", nara_path
            %li= link_to "和歌山県（#{Event.where(prefecture_code: 30).count()}）", wakayama_path
            %li= link_to "鳥取県（#{Event.where(prefecture_code: 31).count()}）", tottori_path
            %li= link_to "島根県（#{Event.where(prefecture_code: 32).count()}）", shimane_path
            %li= link_to "岡山県（#{Event.where(prefecture_code: 33).count()}）", okayama_path
            %li= link_to "広島県（#{Event.where(prefecture_code: 34).count()}）", hiroshima_path
            %li= link_to "山口県（#{Event.where(prefecture_code: 35).count()}）", yamaguchi_path
            %li= link_to "徳島県（#{Event.where(prefecture_code: 36).count()}）", tokushima_path
            %li= link_to "香川県（#{Event.where(prefecture_code: 37).count()}）", kagawa_path
            %li= link_to "愛媛県（#{Event.where(prefecture_code: 38).count()}）", ehime_path
            %li= link_to "高知県（#{Event.where(prefecture_code: 39).count()}）", kochi_path
            %li= link_to "福岡県（#{Event.where(prefecture_code: 40).count()}）", fukuoka_path
            %li= link_to "佐賀県（#{Event.where(prefecture_code: 41).count()}）", saga_path
            %li= link_to "長崎県（#{Event.where(prefecture_code: 42).count()}）", nagasaki_path
            %li= link_to "熊本県（#{Event.where(prefecture_code: 43).count()}）", kumamoto_path
            %li= link_to "大分県（#{Event.where(prefecture_code: 44).count()}）", oita_path
            %li= link_to "宮崎県（#{Event.where(prefecture_code: 45).count()}）", miyazaki_path
            %li= link_to "鹿児島県（#{Event.where(prefecture_code: 46).count()}）", kagoshima_path
            %li= link_to "沖縄県（#{Event.where(prefecture_code: 47).count()}）", okinawa_path
      .genre.col-md-3.col-xs-12
        %h3 スポーツ種目 
        %ul.row
          .col-xs-6
            %li= link_to "スポーツ（その他）(#{Event.where(sports_type_code: 1).count()})", other_sports_path
            %li= link_to "ランニング・マラソン(#{Event.where(sports_type_code: 2).count()})", running_path
            %li= link_to "ヨガ(#{Event.where(sports_type_code: 3).count()})", yoga_path
            %li= link_to "ピラティス(#{Event.where(sports_type_code: 4).count()})", pilates_path
            %li= link_to "トレーニング(#{Event.where(sports_type_code: 5).count()})", training_path
            %li= link_to "ボルダリング(#{Event.where(sports_type_code: 6).count()})", bouldering_path
            %li= link_to "ゴルフ(#{Event.where(sports_type_code: 7).count()})", golf_path
            %li= link_to "サッカー・フットサル(#{Event.where(sports_type_code: 8).count()})", football_path
            %li= link_to "プール・水泳(#{Event.where(sports_type_code: 9).count()})", swimming_path
            %li= link_to "マリンスポーツ（その他）(#{Event.where(sports_type_code: 10).count()})", marine_sports_path
            %li= link_to "ボクシング(#{Event.where(sports_type_code: 11).count()})", boxing_path
            %li= link_to "キックボクシング(#{Event.where(sports_type_code: 12).count()})", kickboxing_path
            %li= link_to "格闘技（その他）(#{Event.where(sports_type_code: 13).count()})", fighting_sports_path
            %li= link_to "バレエ(#{Event.where(sports_type_code: 14).count()})", ballet_path
            %li= link_to "体操・トランポリン(#{Event.where(sports_type_code: 15).count()})", gym_path
            %li= link_to "ダンス（その他）(#{Event.where(sports_type_code: 16).count()})", dance_path
          .col-xs-6
            %li= link_to "野球(#{Event.where(sports_type_code: 17).count()})", baseball_path
            %li= link_to "テニス(#{Event.where(sports_type_code: 18).count()})", tennis_path
            %li= link_to "卓球(#{Event.where(sports_type_code: 19).count()})", table_tennis_path
            %li= link_to "バドミントン(#{Event.where(sports_type_code: 20).count()})", badminton_path
            %li= link_to "バスケットボール(#{Event.where(sports_type_code: 21).count()})", basketball_path
            %li= link_to "バレーボール(#{Event.where(sports_type_code: 22).count()})", volleyball_path
            %li= link_to "スキー・スノーボード(#{Event.where(sports_type_code: 23).count()})", skiing_path
            %li= link_to "スケート(#{Event.where(sports_type_code: 24).count()})", skate_path
            %li= link_to "ウィンタースポーツ（その他）(#{Event.where(sports_type_code: 25).count()})", winter_sports_path
            %li= link_to "ボウリング(#{Event.where(sports_type_code: 26).count()})", bowling_path
            %li= link_to "ダーツ(#{Event.where(sports_type_code: 27).count()})", darts_path
            %li= link_to "ビリヤード(#{Event.where(sports_type_code: 28).count()})", billiards_path
            %li= link_to "セミナー(#{Event.where(sports_type_code: 29).count()})", seminar_path
            %li= link_to "ボディケア・マッサージ(#{Event.where(sports_type_code: 30).count()})", bodycare_path
            %li= link_to "エステ・トリートメント(#{Event.where(sports_type_code: 31).count()})", treatment_path
            %li= link_to "リラクゼーション・アロマ(#{Event.where(sports_type_code: 32).count()})", relaxation_path
            %li= link_to "施術（その他）(#{Event.where(sports_type_code: 33).count()})", other_treatments_path
      .date.col-md-3.col-xs-12
        %h3 開催日
        %ul.row
          .col-xs-6
            %li= link_to "今日のイベント（#{Event.where(event_start: Time.now.all_day).count()}）", today_path
            %li= link_to "明日のイベント（#{Event.where('event_start >= ? and event_start < ?', Date.tomorrow, Date.tomorrow + 1).count()}）", tomorrow_path
            %li= link_to "今週のイベント（#{Event.where(event_start: Time.now.all_week).count()}）", thisweek_path
            %li= link_to "来週のイベント（#{Event.where('event_start >= ? and event_start < ?', Date.today.next_week, Date.today.next_week + 7).count()}）", nextweek_path
            %li= link_to "今月のイベント（#{Event.where(event_start: Time.now.all_month).count()}）", thismonth_path
            %li= link_to "来月のイベント（#{Event.where('event_start > ? and event_start < ?', Date.today.end_of_month, Date.today.beginning_of_month.months_since(2)).count()}）", nextmonth_path
          .col-xs-6
            %li= link_to "月曜日のイベント", monday_path
            %li= link_to "火曜日のイベント", tuesday_path
            %li= link_to "水曜日のイベント", wednesday_path
            %li= link_to "木曜日のイベント", thursday_path
            %li= link_to "金曜日のイベント", friday_path
            %li= link_to "土曜日のイベント", saturday_path
            %li= link_to "日曜日のイベント", sunday_path
      -# .feature.col-md-3.col-xs-12
      -#   %h3 その他のオススメ
      -#   %ul.row
      -#     .col-xs-6
      -#       %li= link_to "朝活", "#"
      -#       %li= link_to "女性限定", "#"
      -#     .col-xs-6
      -#       %li= link_to "無料体験", "#"
  .footer-bottom
    .footer-bottom-link
      %ul
        -# %li= link_to "よくある質問", faq_path
        %li= link_to "利用規約", terms_path
        %li= link_to "プライバシーポリシー", privacy_path
        -# %li= link_to "お問い合わせ", contact_path
        -# %li= link_to "広告掲載について", advertise_path
    .copyright
      %p © 2018 Bodymate
