%footer
  .container-fluid
    .classify.row#classify
      %h2一覧から探す
      .prefecture.col-md-3.col-xs-12
        %h3 都道府県
        %ul.row
          .col-xs-6
            %li= link_to "北海道（#{Event.where(prefecture: "北海道").count()}）", hokkaido_path
            %li= link_to "青森県（#{Event.where(prefecture: "青森県").count()}）", aomori_path
            %li= link_to "秋田県（#{Event.where(prefecture: "秋田県").count()}）", akita_path
            %li= link_to "岩手県（#{Event.where(prefecture: "岩手県").count()}）", iwate_path
            %li= link_to "宮城県（#{Event.where(prefecture: "宮城県").count()}）", miyagi_path
            %li= link_to "山形県（#{Event.where(prefecture: "山形県").count()}）", yamagata_path
            %li= link_to "福島県（#{Event.where(prefecture: "福島県").count()}）", fukushima_path
            %li= link_to "茨城県（#{Event.where(prefecture: "茨城県").count()}）", ibaraki_path
            %li= link_to "栃木県（#{Event.where(prefecture: "栃木県").count()}）", tochigi_path
            %li= link_to "群馬県（#{Event.where(prefecture: "群馬県").count()}）", gunma_path
            %li= link_to "埼玉県（#{Event.where(prefecture: "埼玉県").count()}）", saitama_path
            %li= link_to "千葉県（#{Event.where(prefecture: "千葉県").count()}）", chiba_path
            %li= link_to "東京都（#{Event.where(prefecture: "東京都").count()}）", tokyo_path
            %li= link_to "神奈川県（#{Event.where(prefecture: "神奈川県").count()}）", kanagawa_path
            %li= link_to "新潟県（#{Event.where(prefecture: "新潟県").count()}）", niigata_path
            %li= link_to "富山県（#{Event.where(prefecture: "富山県").count()}）", toyama_path
            %li= link_to "石川県（#{Event.where(prefecture: "石川県").count()}）", ishikawa_path
            %li= link_to "福井県（#{Event.where(prefecture: "福井県").count()}）", fukui_path
            %li= link_to "山梨県（#{Event.where(prefecture: "山梨県").count()}）", yamanashi_path
            %li= link_to "長野県（#{Event.where(prefecture: "長野県").count()}）", nagano_path
            %li= link_to "岐阜県（#{Event.where(prefecture: "岐阜県").count()}）", gifu_path
            %li= link_to "静岡県（#{Event.where(prefecture: "静岡県").count()}）", shizuoka_path
            %li= link_to "愛知県（#{Event.where(prefecture: "愛知県").count()}）", aichi_path
            %li= link_to "三重県（#{Event.where(prefecture: "三重県").count()}）", mie_path
          .col-xs-6
            %li= link_to "滋賀県（#{Event.where(prefecture: "滋賀県").count()}）", shiga_path
            %li= link_to "京都府（#{Event.where(prefecture: "京都府").count()}）", kyoto_path
            %li= link_to "大阪府（#{Event.where(prefecture: "大阪府").count()}）", osaka_path
            %li= link_to "兵庫県（#{Event.where(prefecture: "兵庫県").count()}）", hyogo_path
            %li= link_to "奈良県（#{Event.where(prefecture: "奈良県").count()}）", nara_path
            %li= link_to "和歌山県（#{Event.where(prefecture: "和歌山県").count()}）", wakayama_path
            %li= link_to "鳥取県（#{Event.where(prefecture: "鳥取県").count()}）", tottori_path
            %li= link_to "島根県（#{Event.where(prefecture: "島根県").count()}）", shimane_path
            %li= link_to "岡山県（#{Event.where(prefecture: "岡山県").count()}）", okayama_path
            %li= link_to "広島県（#{Event.where(prefecture: "広島県").count()}）", hiroshima_path
            %li= link_to "山口県（#{Event.where(prefecture: "山口県").count()}）", yamaguchi_path
            %li= link_to "徳島県（#{Event.where(prefecture: "徳島県").count()}）", tokushima_path
            %li= link_to "香川県（#{Event.where(prefecture: "香川県").count()}）", kagawa_path
            %li= link_to "愛媛県（#{Event.where(prefecture: "愛媛県").count()}）", ehime_path
            %li= link_to "高知県（#{Event.where(prefecture: "高知県").count()}）", kochi_path
            %li= link_to "福岡県（#{Event.where(prefecture: "福岡県").count()}）", fukuoka_path
            %li= link_to "佐賀県（#{Event.where(prefecture: "佐賀県").count()}）", saga_path
            %li= link_to "長崎県（#{Event.where(prefecture: "長崎県").count()}）", nagasaki_path
            %li= link_to "熊本県（#{Event.where(prefecture: "熊本県").count()}）", kumamoto_path
            %li= link_to "大分県（#{Event.where(prefecture: "大分県").count()}）", oita_path
            %li= link_to "宮崎県（#{Event.where(prefecture: "宮崎県").count()}）", miyazaki_path
            %li= link_to "鹿児島県（#{Event.where(prefecture: "鹿児島県").count()}）", kagoshima_path
            %li= link_to "沖縄県（#{Event.where(prefecture: "沖縄県").count()}）", okinawa_path
      .genre.col-md-3.col-xs-12
        %h3 スポーツ種目
        %ul.row
          .col-xs-6
            %li= link_to "野球", "#"
            %li= link_to "サッカー", "#"
            %li= link_to "ゴルフ", "#"
            %li= link_to "スポーツ", "#"
            %li= link_to "テニス", "#"
            %li= link_to "卓球", "#"
            %li= link_to "ボクシング", "#"
            %li= link_to "相撲", "#"
            %li= link_to "バレーボール", "#"
            %li= link_to "バスケ", "#"
            %li= link_to "バトミントン", "#"
            %li= link_to "ボルダリング", "#"
          .col-xs-6
            %li= link_to "ボーリング", "#"
            %li= link_to "サバイバルゲーム", "#"
            %li= link_to "スノーボード", "#"
            %li= link_to "トランポリン", "#"
            %li= link_to "スケート", "#"
            %li= link_to "柔道", "#"
            %li= link_to "ダーツ", "#"
            %li= link_to "バタフライ", "#"
            %li= link_to "格闘技", "#"
            %li= link_to "サーフィン", "#"
            %li= link_to "ビリヤード", "#"
            %li= link_to "フットサル", "#"
      .date.col-md-3.col-xs-12
        %h3 開催日
        %ul.row
          .col-xs-6
            %li= link_to "今日のイベント（#{Event.where(event_start: Time.now.all_day).count()}）", today_path
            %li= link_to "明日のイベント（#{Event.where('event_start >= ? and event_start < ?', Date.tomorrow, Date.tomorrow + 1).count()}）", tomorrow_path
            %li= link_to "今週のイベント（#{Event.where(event_start: Time.now.all_week).count()}）", thisweek_path
            %li= link_to "来週のイベント（#{Event.where('event_start >= ? and event_start < ?', Date.today.next_week, Date.today.next_week + 7).count()}）", nextweek_path
            %li= link_to "今月のイベント（#{Event.where(event_start: Time.now.all_month).count()}）", thismonth_path
            %li= link_to "来月のイベント（#{Event.where('event_start > ? and event_start < ?', Date.today.end_of_month, Date.today.beginning_of_month.months_since(2)).count()}）", nextmonth_path
          .col-xs-6
            %li= link_to "月曜日のイベント", monday_path
            %li= link_to "火曜日のイベント", tuesday_path
            %li= link_to "水曜日のイベント", wednesday_path
            %li= link_to "木曜日のイベント", thursday_path
            %li= link_to "金曜日のイベント", friday_path
            %li= link_to "土曜日のイベント", saturday_path
            %li= link_to "日曜日のイベント", sunday_path
      -# .feature.col-md-3.col-xs-12
      -#   %h3 その他のオススメ
      -#   %ul.row
      -#     .col-xs-6
      -#       %li= link_to "朝活", "#"
      -#       %li= link_to "女性限定", "#"
      -#     .col-xs-6
      -#       %li= link_to "無料体験", "#"
  .footer-bottom
    .footer-bottom-link
      %ul
        -# %li= link_to "よくある質問", faq_path
        %li= link_to "利用規約", terms_path
        %li= link_to "プライバシーポリシー", privacy_path
        -# %li= link_to "お問い合わせ", contact_path
        -# %li= link_to "広告掲載について", advertise_path
    .copyright
      %p © 2018 Bodymate
