%footer
  .container-fluid
    .classify.row#classify
      %h2一覧から探す
      .prefecture.col-md-3.col-xs-12
        %h3 都道府県
        %ul.row
          .col-xs-6
            %li= link_to "北海道", hokkaido_path
            %li= link_to "青森県", aomori_path
            %li= link_to "秋田県", akita_path
            %li= link_to "岩手県", iwate_path
            %li= link_to "宮城県", miyagi_path
            %li= link_to "山形県", yamagata_path
            %li= link_to "福島県", fukushima_path
            %li= link_to "茨城県", ibaraki_path
            %li= link_to "栃木県", tochigi_path
            %li= link_to "群馬県", gunma_path
            %li= link_to "埼玉県", saitama_path
            %li= link_to "千葉県", chiba_path
            %li= link_to "東京都", tokyo_path
            %li= link_to "神奈川県", kanagawa_path
            %li= link_to "新潟県", niigata_path
            %li= link_to "富山県", toyama_path
            %li= link_to "石川県", ishikawa_path
            %li= link_to "福井県", fukui_path
            %li= link_to "山梨県", yamanashi_path
            %li= link_to "長野県", nagano_path
            %li= link_to "岐阜県", gifu_path
            %li= link_to "静岡県", shizuoka_path
            %li= link_to "愛知県", aichi_path
            %li= link_to "三重県", mie_path
          .col-xs-6
            %li= link_to "滋賀県", shiga_path
            %li= link_to "京都府", kyoto_path
            %li= link_to "大阪府", osaka_path
            %li= link_to "兵庫県", hyogo_path
            %li= link_to "奈良県", nara_path
            %li= link_to "和歌山県", wakayama_path
            %li= link_to "鳥取県", tottori_path
            %li= link_to "島根県", shimane_path
            %li= link_to "岡山県", okayama_path
            %li= link_to "広島県", hiroshima_path
            %li= link_to "山口県", yamaguchi_path
            %li= link_to "徳島県", tokushima_path
            %li= link_to "香川県", kagawa_path
            %li= link_to "愛媛県", ehime_path
            %li= link_to "高知県", kochi_path
            %li= link_to "福岡県", fukuoka_path
            %li= link_to "佐賀県", saga_path
            %li= link_to "長崎県", nagasaki_path
            %li= link_to "熊本県", kumamoto_path
            %li= link_to "大分県", oita_path
            %li= link_to "宮崎県", miyazaki_path
            %li= link_to "鹿児島県", kagoshima_path
            %li= link_to "沖縄県", okinawa_path
      .genre.col-md-3.col-xs-12
        %h3 スポーツ種目
        %ul.row
          .col-xs-6
            %li= link_to "野球", "#"
            %li= link_to "サッカー", "#"
            %li= link_to "ゴルフ", "#"
            %li= link_to "スポーツ", "#"
            %li= link_to "テニス", "#"
            %li= link_to "卓球", "#"
            %li= link_to "ボクシング", "#"
            %li= link_to "相撲", "#"
            %li= link_to "バレーボール", "#"
            %li= link_to "バスケ", "#"
            %li= link_to "バトミントン", "#"
            %li= link_to "ボルダリング", "#"
          .col-xs-6
            %li= link_to "ボーリング", "#"
            %li= link_to "サバイバルゲーム", "#"
            %li= link_to "スノーボード", "#"
            %li= link_to "トランポリン", "#"
            %li= link_to "スケート", "#"
            %li= link_to "柔道", "#"
            %li= link_to "ダーツ", "#"
            %li= link_to "バタフライ", "#"
            %li= link_to "格闘技", "#"
            %li= link_to "サーフィン", "#"
            %li= link_to "ビリヤード", "#"
            %li= link_to "フットサル", "#"
      .date.col-md-3.col-xs-12
        %h3 開催日
        %ul.row
          .col-xs-6
            %li= link_to "今日のイベント", "#"
            %li= link_to "明日のイベント", "#"
            %li= link_to "今週のイベント", "#"
            %li= link_to "来週のイベント", "#"
            %li= link_to "今月のイベント", "#"
            %li= link_to "来月のイベント", "#"
          .col-xs-6
            %li= link_to "土日（週末）のイベント", "#"
            %li= link_to "土曜日のイベント", "#"
            %li= link_to "日曜日のイベント", "#"
      .feature.col-md-3.col-xs-12
        %h3 その他のオススメ
        %ul.row
          .col-xs-6
            %li= link_to "朝活", "#"
            %li= link_to "女性限定", "#"
          .col-xs-6
            %li= link_to "無料体験", "#"
  .footer-bottom
    .footer-bottom-link
      %ul
        %li= link_to "よくある質問", faq_path
        %li= link_to "利用規約", terms_path
        %li= link_to "プライバシーポリシー", privacy_path
        %li= link_to "お問い合わせ", contact_path
        %li= link_to "広告掲載について", advertise_path
    .copyright
      %p © 2018 Bodymate
