%nav.navbar.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button{type: 'button', class: "navbar-toggle", data:{toggle: "collapse"}, href: "#navbar-main"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
        %span.hamburger-menu MENU
      = link_to image_tag("logo.svg", alt: "Bodymateロゴ"), root_path, class: 'navbar-brand logo'
      .search-modalbtn.visible-xs{data:{target: 'multi-search'}}
        %i.fa.fa-search
        %p.search_text 条件検索
    .navbar-collapse.collapse#navbar-main
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to guide_path do
            %p ガイド
            %i.fa.fa-info-circle
        %li.hidden-xs
          .search-modalbtn{data:{target: 'multi-search'}}
            %p 条件検索
            %i.fa.fa-search
        - if user_signed_in?
          %li
            = link_to new_event_path do
              %p.event_add_btn_text イベント<br>投稿
              %i.fa.fa-bullhorn
          %li
            = link_to mypage_path do
              %p マイページ
              %i.fa.fa-address-card.mypage-icon
        - else
          %li
            = link_to new_user_registration_path do
              %p 無料登録
              %i.fa.fa-user-plus.regist-icon
          %li
            = link_to new_user_session_path do
              %p ログイン
              %i.fa.fa-sign-in
