%nav.navbar.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button{type: 'button', class: "navbar-toggle", data:{toggle: "collapse"}, href: "#navbar-main"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
        %span.hamburger-menu MENU
      = link_to image_tag("logo.svg", alt: "Bodymateロゴ"), root_path, class: 'navbar-brand logo'
    .navbar-collapse.collapse#navbar-main
      %ul.nav.navbar-nav.navbar-right
        -# %li=link_to image_tag("info.svg", alt: "Bodymateについて"), about_path
        -# %li=link_to image_tag("help.svg", alt: "使い方"), guide_path
        - if user_signed_in?
          %li= link_to image_tag("newpost.svg", alt: "新規投稿"), new_event_path
          %li= link_to image_tag("mypage.svg", alt: "マイページ"), user_path(@user)
        - else
          %li= link_to image_tag("signin.svg", alt: "無料登録"), new_user_registration_path
          %li= link_to image_tag("login.svg", alt: "ログイン"), new_user_session_path
