- provide(:title, "イベントの編集")
.row
  .event_form_wrapper.col-sm-8.col-sm-offset-2
    .row
      .col-sm-10.col-sm-offset-1
        %h2 イベントの編集
        = form_for @event do |f|
          .form-group
            .field
              = f.label :イベント名
              %span.required 必須
              = f.text_field :name, placeholder: "例：皇居マラソン", class: "form-control"
          .form-group
            .field
              = f.label :スポーツ種別
              %span.required 必須
              = f.select :sports_type, [["スポーツ（その他）", "スポーツ（その他）"], ["ランニング・マラソン", "ランニング・マラソン"], ["ウォーキング・ハイキング", "ウォーキング・ハイキング"], ["ヨガ", "ヨガ"], ["ピラティス", "ピラティス"], ["トレーニング", "トレーニング"], ["ボルダリング", "ボルダリング"], ["ゴルフ", "ゴルフ"], ["サッカー・フットサル", "サッカー・フットサル"], ["プール・水泳", "プール・水泳"], ["マリンスポーツ（その他）", "マリンスポーツ（その他）"], ["ボクシング", "ボクシング"], ["キックボクシング", "キックボクシング"], ["格闘技（その他）", "格闘技（その他）"], ["バレエ", "バレエ"], ["体操・トランポリン", "体操・トランポリン"], ["ダンス（その他）", "ダンス（その他）"], ["野球", "野球"], ["テニス", "テニス"], ["スカッシュ", "スカッシュ"], ["卓球", "卓球"], ["バドミントン", "バドミントン"], ["バスケットボール", "バスケットボール"], ["バレーボール", "バレーボール"], ["スキー・スノーボード", "スキー・スノーボード"], ["スケート", "スケート"], ["ウィンタースポーツ（その他）", "ウィンタースポーツ（その他）"], ["ボウリング", "ボウリング"], ["ダーツ", "ダーツ"], ["ビリヤード", "ビリヤード"], ["ボディケア・マッサージ", "ボディケア・マッサージ"], ["エステ・トリートメント", "エステ・トリートメント"], ["リラクゼーション・アロマ", "リラクゼーション・アロマ"], ["施術（その他）", "施術（その他）"], ["セミナー・勉強会", "セミナー・勉強会"], ["食事・栄養", "食事・栄養"], ["瞑想・メンタル", "瞑想・メンタル"]], {}, class: "form-control"
          .form-group
            .field
              = f.label :イベント特徴1
              %span
              = f.select :feature, [["選択してください", "選択してください"], ["無料体験", "無料体験"], ["体験イベント", "体験イベント"], ["初心者歓迎", "初心者歓迎"], ["ボディメイク", "ボディメイク"], ["ダイエット", "ダイエット"], ["アンチエイジング", "アンチエイジング"], ["朝活", "朝活"], ["女性限定", "女性限定"], ["託児所有り", "託児所有り"], ["子ども参加", "子ども参加"], ["親子参加", "親子参加"], ["マッチング・出会い", "マッチング・出会い"], ["仲間募集", "仲間募集"]], {}, class: "form-control"
          .form-group
            .field
              = f.label :イベント特徴2
              %span
              = f.select :feature2, [["選択してください", "選択してください"], ["無料体験", "無料体験"], ["体験イベント", "体験イベント"], ["初心者歓迎", "初心者歓迎"], ["ボディメイク", "ボディメイク"], ["ダイエット", "ダイエット"], ["アンチエイジング", "アンチエイジング"], ["朝活", "朝活"], ["女性限定", "女性限定"], ["託児所有り", "託児所有り"], ["子ども参加", "子ども参加"], ["親子参加", "親子参加"], ["マッチング・出会い", "マッチング・出会い"], ["仲間募集", "仲間募集"]], {}, class: "form-control"
          .form-group
            .field
              = f.label :概要
              = f.text_area :description, placeholder: "例：5km、10km、ハーフマラソンでの自動タイム計測できます", class: "form-control form-textarea", rows: "3"
          .form-group
            .field
              .event-datatime-top
                = f.label :イベント開始日時
                %span.required 必須
                %br
                = f.datetime_select :event_start, {use_month_number: true, minute_step: 5, default: Time.now}, {class: "form-control datetime_form"}
              .event-datatime-bottom
                = f.label :イベント終了日時
                %br
                = f.datetime_select :event_end, {use_month_number: true, minute_step: 5}, {class: "form-control datetime_form"}
          .form-group
            .field
              .event-datatime-top
                = f.label :募集開始日時
                %br
                = f.datetime_select :recruit_start, {use_month_number: true, minute_step: 5}, {class: "form-control datetime_form"}
              .event-datatime-bottom
                = f.label :募集終了日時
                %br
                = f.datetime_select :recruit_end, {use_month_number: true, minute_step: 5}, {class: "form-control datetime_form"}
          .form-group
            .field
              = f.label :イベント画像
              = f.file_field :image
          .form-group
            .field
              = f.label :イベント案内文
              %span.required 必須
              = f.text_area :article, placeholder: "例：すごいマラソンイベントです!!", class: "form-control form-textarea", rows: "6"
          .form-group
            .field
              = f.label :会場名
              %span.required 必須
              = f.text_field :place, placeholder: "皇居", class: "form-control"
          .form-group
            .field
              = f.label :会場のURL
              = f.url_field :place_url, placeholder: "http://bodymate.jp/", class: "form-control"
          .form-group
            .field
              = f.label :郵便番号番号（ハイフンなし7桁）
              = f.text_field :postcode, placeholder: "1234567", class: "form-control"
          .form-group
            .field
              = f.label :都道府県
              %span.required 必須
              = f.select :prefecture, [["北海道", "北海道"], ["青森県", "青森県"], ["秋田県", "秋田県"], ["岩手県", "岩手県"], ["宮城県", "宮城県"], ["山形県", "山形県"], ["福島県", "福島県"], ["茨城県", "茨城県"], ["栃木県", "栃木県"], ["群馬県", "群馬県"], ["埼玉県", "埼玉県"], ["千葉県", "千葉県"], ["東京都", "東京都"], ["神奈川県", "神奈川県"], ["新潟県", "新潟県"], ["富山県", "富山県"], ["石川県", "石川県"], ["福井県", "福井県"], ["山梨県", "山梨県"], ["長野県", "長野県"], ["岐阜県", "岐阜県"], ["静岡県", "静岡県"], ["愛知県", "愛知県"], ["三重県", "三重県"], ["滋賀県", "滋賀県"], ["京都府", "京都府"], ["大阪府", "大阪府"], ["兵庫県", "兵庫県"], ["奈良県", "奈良県"], ["和歌山県", "和歌山県"], ["鳥取県", "鳥取県"], ["島根県", "島根県"], ["岡山県", "岡山県"], ["広島県", "広島県"], ["山口県", "山口県"], ["徳島県", "徳島県"], ["香川県", "香川県"], ["愛媛県", "愛媛県"], ["高知県", "高知県"], ["福岡県", "福岡県"], ["佐賀県", "佐賀県"], ["長崎県", "長崎県"], ["熊本県", "熊本県"], ["大分県", "大分県"], ["宮崎県", "宮崎県"], ["鹿児島県", "鹿児島県"], ["沖縄県", "沖縄県"]], {}, class: "form-control"
          .form-group
            .field
              = f.label :市区町村
              %span.required 必須
              = f.text_field :city, placeholder: "千代田区", class: "form-control"
          .form-group
            .field
              = f.label :住所
              %span.required 必須
              = f.text_field :address1, placeholder: "千代田1-1", class: "form-control"
          .form-group
            .field
              = f.label :ビル名・階数
              = f.text_field :address2, placeholder: "桜田門広場", class: "form-control"
          .form-group
            .field
              = f.label :主催者
              %span.required 必須
              = f.text_field :organizer, placeholder: "皇居ランニング協会", class: "form-control"
          .form-group
            .field
              = f.label :メールアドレス
              %span.required 必須
              = f.text_field :email, placeholder: "sample@gmail.com", class: "form-control"
          .form-group
            .field
              = f.label :ホームページのURL
              = f.text_field :organizer_url, placeholder: "http://bodymate.jp/", class: "form-control"
          .form-group
            .field
              = f.label :FacebookのURL
              = f.text_field :facebook_url, placeholder: "https://www.facebook.com/bodymate.jp", class: "form-control"
          .form-group
            .field
              = f.label :TwitterのURL
              = f.text_field :twitter_url, placeholder: "https://twitter.com/bodymate_jp", class: "form-control"
          .form-group
            .field
              = f.label :InstgramのURL
              = f.text_field :instagram_url, placeholder: "https://www.instagram.com/bodymate_jp", class: "form-control"
          #tickets_box
            = f.fields_for :tickets do |t|
              %ticketset
                .ticket-box
                  .form-group
                    .field.ticket-name
                      = t.label :チケット名
                      %span.required 必須
                      = t.text_field :name, placeholder: 'ハーフマラソン（完走証あり）', class: "form-control"
                  .form-group.clearfix
                    .field.price-form
                      = t.label :価格
                      %span.required 必須
                      = t.number_field :price, placeholder: '6000', class: "form-control"
                    .field.quantity-form
                      = t.label :定員
                      %span.required 必須
                      = t.number_field :quantity, placeholder: '500', class: "form-control", maxlength: 10000
                    - if @event.persisted?
                      .ticket-delete
                        = t.check_box :_destroy
                        = t.label :_destroy, 'チケットを削除する', class: 'ticket-deletemessage'
                        %p.message  ＊このチケットの予約情報も削除されます。
            .add-ticket-area
              = link_to_add_boxes 'チケット追加', f, :tickets

          .form-group
            .ticket-submit.text-right
              .actions
                = f.submit "イベントを更新する", class: "btn btn-primary"
