.contents-wrapper
  %h1 #{@event.name}
  .event-show-prefecture=@event.prefecture
  .event-show-genre1=@event.sports_type
  - unless @event.feature_code == 0
    .event-show-feature=@event.feature
  - unless @event.feature2_code == 0
    .event-show-feature=@event.feature2
  .row
    .col-md-8
      .left-contents
        - if @event.image?
          = image_tag(@event.image.show.url, alt: "イベントイメージ", class: "event-image")
        - else
          = image_tag("event-image.jpg", alt: "イベントイメージ", class: "event-image")
        .event-description
          %p #{@event.description}
        .adsense-home.visible-xs
          %p SPONSORED LINK
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          / 300×250予約
          %ins{class: "adsbygoogle",
               style: "display:block",
               data:{ad:{client: "ca-pub-9627911157097400", slot: "2707069331", format: "auto"}}}
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        .adsense-home.hidden-xs
          %p SPONSORED LINK
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          / 予約レスポンシブ
          %ins{class: "adsbygoogle",
               style: "display:block",
               data:{ad:{client: "ca-pub-9627911157097400", slot: "2862552430", format: "auto"}}}
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        .event-basicinfo
          %h2 イベント情報
          %table
            %tr.table-top
              %th 開催日時
              - if @event.event_start.strftime("%Y%m%d") == @event.event_end.strftime("%Y%m%d")
                %td #{@event.event_start.strftime("%Y年%m月%d日 %H:%M")} 〜 #{@event.event_end.strftime("%H:%M")}
              - else
                %td #{@event.event_start.strftime("%Y年%m月%d日 %H:%M")} 〜 #{@event.event_end.strftime("%m月%d日 %H:%M")}
            %tr
              %th 開催場所
              %td
                #{@event.place}
                - if(@event.place_url)
                  = link_to('リンク', "#{@event.place_url}", target: "_blank")
            %tr
              %th 住所
              %td
                〒#{@event.postcode}<br />#{@event.prefecture}#{@event.city}#{@event.address1}#{@event.address2}
            %tr
              %th 募集状況
              %td
                - if(@event.recruit_start <= Time.now && @event.recruit_end >= Time.now)
                  募集中
                - elsif(@event.recruit_start >= Time.now)
                  募集前
                - else
                  終了
            %tr
              %th 募集期間
              %td #{@event.recruit_start.strftime("%Y年%m月%d日 %H:%M")} 〜 #{@event.recruit_end.strftime("%m月%d日 %H:%M")}
        - if @event.latitude && @event.longitude
          .event-map#map
        .event-sentence
          %h2 イベント内容
          .event-sentencebody= simple_format(text_url_to_link(h("#{@event.article}")), {}, sanitize: false)
        .event-organizer
          %h2 主催者情報
          .attention ＊当イベントは下記の主催者によって企画・運営されており、Bodymateは関与しておりません。
          %table
            %tr.table-top
              %th 主催者
              %td #{@event.organizer}
            %tr
              %th メールアドレス
              %td
                = mail_to("#{@event.email}")
            - if(@event.organizer_url)
              %tr
                %th ホームページ
                %td
                  =link_to("#{@event.organizer_url}", "#{@event.organizer_url}", target: "_blank")
            %tr
              %th SNS
              %td
                - if(@event.facebook_url)
                  %span.organizer-facebook
                    = link_to(content_tag(:i, ' Facebook', class: "fa fa-facebook-square"), "#{@event.facebook_url}", target: "_blank")
                - if(@event.twitter_url)
                  %span.organizer-twitter
                    = link_to(content_tag(:i, ' Twitter', class: "fa fa-twitter-square"), "#{@event.twitter_url}", target: "_blank")
                - if(@event.instagram_url)
                  %span.organizer-instagram
                    = link_to(content_tag(:i, ' Instagram', class: "fa fa-instagram"), "#{@event.instagram_url}", target: "_blank")
        .adsense-left.hidden-sm.hidden-xs
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          -# 予約関連コンテンツ
          %ins{class: "adsbygoogle",
               style: "display:block",
               data:{ad:{format: "autorelaxed", client: "ca-pub-9627911157097400", slot: "7947664018"}}}
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
    .col-md-4
      .right-contents
        - if(user_signed_in? && @event.user_id == current_user.id)
          .event-controllbtn
            .event-editbtn
              = link_to 'イベントを編集する', "/events/#{@event.id}/edit", method: :get
            .event-deletebtn{data:{target: "event-delete"}}
              = link_to 'イベントを削除する', 'javascript:void(0);'
        .event-tickets
          - if @tickets.present?
            %h2 チケット一覧
            - @tickets.each do |ticket|
              .ticket-box
                .ticket-name #{ticket.name}
                .ticket-price
                  - if(ticket.price == 0)
                    %span 参加無料
                  - else
                    %span 価格
                    %span ¥ #{ticket.price.to_s(:delimited)}
                .ticket-quantity
                  %span 定員
                  %span #{ticket.bookings.where('del_flg = ?', false).count}
                  %span /
                  %span #{ticket.quantity.to_s(:delimited)}
                - if Time.now >= ticket.event.recruit_start && Time.now <= ticket.event.recruit_end
                  - if ticket.quantity <= ticket.bookings.count
                    .ticket-full
                      %p 満席
                  - else
                    .ticket-bookingbtn{data:{target: "ticket-booking#{ticket.id}"}}
                      = link_to '予約モーダルを開く', 'javascript:void(0);'
                - else
                  .ticket-end
                    %p 募集終了
              // 予約者一覧
              - if user_signed_in? && @event.user_id == current_user.id
                - if ticket.bookings.where(del_flg: 0).present?
                  .booking-people
                    %h3 #{ticket.name}の予約者一覧
                    - ticket.bookings.where(del_flg: 0).each_with_index do |booking, i|
                      .booking-parson-name #{i + 1}. #{booking.name}
              // チケット予約モーダル
              .ticket-booking.ticket-modal{id: "ticket-booking#{ticket.id}"}
                %h3 #{ticket.name}
                = form_for @booking do |f|
                  .form-horizontal
                    .form-group
                      .field
                        %span.col.col-md-3.control-label
                          %span= f.label :お名前
                          %span.required 必須
                        .col.col-md-9
                          - if user_signed_in?
                            = f.text_field :name, class: "form-control", value: @user.name, required: true, maxlength: 20
                          - else
                            = f.text_field :name, class: "form-control", required: true, maxlength: 20
                    .form-group
                      .field
                        %span.col.col-md-3.control-label
                          %span= f.label :メールアドレス
                          %span.required 必須
                        .col.col-md-9
                          - if user_signed_in?
                            = f.email_field :email, class: "form-control", value: @user.email, required: true, maxlength: 50
                          - else
                            = f.email_field :email, class: "form-control", required: true, maxlength: 50
                    .form-group
                      .field
                        = f.label :コメント, class: "col col-md-3 control-label"
                        .col.col-md-9
                          = f.text_area :comment, class: "form-control booking-comment", rows: 2
                    = f.hidden_field :ticket_id, value: ticket.id
                    - if user_signed_in?
                      = f.hidden_field :user_id, value: @user.id
                    .form-grup
                      .actions
                        = f.submit 'このチケットを予約する', class: "booking-submit"
                    %p.attention ＊確認画面はありません。予約確定後に確認メールをお送りします。
        .adsense-right.hidden-sm.hidden-xs
          %p SPONSORED LINK
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          -# 予約300×600
          %ins{class: "adsbygoogle",
               style: "display:inline-block;width:300px;height:600px",
               data:{ad:{client: "ca-pub-9627911157097400", slot: "2581999765"}}}
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        .adsense-relation.visible-sm.visible-xs
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          -# 予約関連コンテンツ
          %ins{class: "adsbygoogle",
               style: "display:block",
               data:{ad:{format: "autorelaxed", client: "ca-pub-9627911157097400", slot: "7947664018"}}}
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
  // イベント削除モーダル
  .eventdelete-modal#event-delete
    %p イベントは削除されますが、チケットの予約情報は残ります。
    %p イベントを削除してよろしいですか？
    .row.row-center
      .col-xs-6.center-block
        %span
          = form_for @event do |f|
            = f.hidden_field :del_flg, value: true
            = f.hidden_field :prefecture_code, value: @event.prefecture_code
            = f.hidden_field :sports_type_code, value: @event.sports_type_code
            = f.hidden_field :feature_code, value: @event.feature_code
            = f.hidden_field :feature2_code, value: @event.feature2_code
            = f.submit 'イベントを削除する'
      .col-xs-6.center-block
        %sapn
          .modal-cancel
            = link_to 'キャンセル', class: 'modal-close'

:javascript
  var map;
  var point = {lat: #{@latitude}, lng: #{@longitude}};
  var contentString = '住所：#{@address}';
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: point,
      zoom: 15
    });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
      position: point,
      map: map,
      title: contentString
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
%script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyC1NXmYV-OfKmkksB-HidMATB9KAjDgqhg&callback=initMap"}
