.sports-type-events
  %h1 ダンス（その他）のイベント一覧
  %p.new-events-description ダンスに関連するイベントの一覧です。
  .adsense-home
    %p SPONSORED LINK
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    / 予約レスポンシブ
    %ins{class: "adsbygoogle",
         style: "display:block",
         data:{ad:{client: "ca-pub-9627911157097400", slot: "2862552430", format: "auto"}}}
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  .new-events-wraper.row
    - @events.each do |event|
      .col-md-3.col-sm-4.col-xs-6
        = link_to event do
          - if Time.now >= event.recruit_start
            .event-block
              .event-image-area
                .event-name= event.name
                .event-name-background= event.name
                - if event.image.present?
                  = image_tag(event.image.thumb.url, alt: "イベントイメージ", class: "event-image")
                - else
                  = image_tag("event-image.jpg", alt: "イベントイメージ", class: "event-image")
                -# = link_to "ジャンル1サンプル", "#", class: "sports-genre1"
                .sports-genre2=event.sports_type
                - if Time.now >= event.recruit_start && Time.now <= event.recruit_end
                  %span.wanted 予約受付中
                - else
                  %span.recruit-end 予約受付終了
              .event-info
                = link_to event do
                  .event-description-area
                    .event-description= event.description
                  .event-info
                    %p.event-datetime
                      %i.fa.fa-calendar-o
                      %span= event.event_start.strftime("%Y年%m月%d日 %H:%M")
                      %span 〜
                      - if event.event_start.strftime("%Y%m%d") == event.event_end.strftime("%Y%m%d")
                        %span= event.event_end.strftime("%H:%M")
                      - else
                        %span= event.event_end.strftime("%m月%d日 %H:%M")
                    %p.event-address
                      %i.fa.fa-map-marker
                      %span.event-prefecture= event.prefecture + event.city + event.address1 + event.address2
                    %p.event-organizer
                      %i.fa.fa-user-circle-o
                      %span.event-organizername= event.organizer
  .adsense-home
    %p SPONSORED LINK
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    / 予約レスポンシブ
    %ins{class: "adsbygoogle",
         style: "display:block",
         data:{ad:{client: "ca-pub-9627911157097400", slot: "2862552430", format: "auto"}}}
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
