!!! 5
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= full_title(yield(:title))
    - if @event.present?
      %meta{name: "description", content: "#{@event.description}"}
      %meta{property: "og:title", content: "#{@event.name} | Bobymate"}
      %meta{property: "og:description", content: "#{@event.description}"}
      - if @event.image
        %meta{property: "og:image", content: "#{@event.image}"}
        %meta{property: "og:image:width", content: "1200"}
        %meta{property: "og:image:height", content: "630"}
      - else
        %meta{property: "og:image", content: "https://event.bodymate.jp/assets/event-image-6f63f7e02ed3e4354689f7f298982fa5cfb4c8e69a3c674bcb74eb522d7d5b59.jpg"}
      %meta{property: "og:url", content: "https://event.bodymate.jp/events/#{@event.id}"}
      %meta{property: "og:type", content: "article"}
      %meta{name: "twitter:site", content: "@bodymate_jp"}
      %meta{name: "twitter:card", content: "summary"}
      %meta{property: "og:site_name", content: "Bobymate - スポーツイベントを無料掲載・集客支援"}
      %meta{property: "og:locale", content: "ja_JP"}
      %meta{property: "fb:app_id", content: "360700044447345"}
    - else
      %meta{name: "description", content: "Bodymateはスポーツ、ヘルスケアイベントに特化した予約サービスです。無料で掲載・集客できますので是非ご活用ください。"}
      %meta{property: "og:image", content: "https://event.bodymate.jp/assets/event-image-6f63f7e02ed3e4354689f7f298982fa5cfb4c8e69a3c674bcb74eb522d7d5b59.jpg"}

    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{name: "google-site-verification", content: "ETh_FMwDKHuG240P9ZK_Hm4H0x1Yz3UQp5mPLrgh3lo"}
    = csrf_meta_tags
    = stylesheet_link_tag    "application", media: "all", data:{turbolinks:{track: true}}
    = javascript_include_tag "application", data:{turbolinks:{track: true}}
    = favicon_link_tag()
    = favicon_link_tag('apple-touch-icon-180x180.png',
                     {rel: 'apple-touch-icon',
                      sizes: '180x180',
                      type: 'image/png'})
    = analytics_init if Rails.env.production?
  %body
    = render 'shared/header'
    - flash.each do |key, value|
      - key = "info" if key == "notice"
      - key = "danger" if key == "alert"
      = content_tag :div, value, class: "alert alert-#{key}"
    = yield
    = render 'shared/footer'
    // 検索用モーダル
    .compSearch-modal#multi-search
      %h2 イベント条件検索
      = search_form_for(@q, url:search_path) do |f|
        .form-group
          = f.label :name_or_description_cont, 'フリーワード'
          = f.search_field :name_or_description_cont, class: "form-control"
        .date-form-group
          %p イベント開始日
          = raw sprintf( f.date_select( :event_start_gteq, use_month_numbers: true, include_blank: true, start_year: Time.now.year, end_year: Time.now.year + 3, class: "form-control", date_separator: '%s'), '年', '月') + '日'
          %span 〜
          .search_event_start_wave
          = raw sprintf( f.date_select( :event_start_lteq_end_of_day, use_month_numbers: true, include_blank: true, start_year: Time.now.year, end_year: Time.now.year + 3, class: "form-control", date_separator: '%s'), '年', '月') + '日'
        .form-group
          = f.label :prefecture_eq, '都道府県'
          = f.select :prefecture_eq, @prefectures, {include_blank: '選択してください'}, class: "form-control"
        .form-group
          = f.label :sports_type_eq, 'スポーツ種目'
          = f.select :sports_type_eq, @sports_types, {include_blank: '選択してください'}, class: "form-control"
        .form-group
          = f.label :feature_or_feature2_eq, '特徴'
          = f.select :feature_or_feature2_eq, @features, {include_blank: '選択してください'}, class: "form-control"
        .form-group
          .ticket-submit.text-right
            .actions
              = f.submit '検索', class: "btn search_btn btn-primary"
