!!! 5
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= full_title(yield(:title))
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = csrf_meta_tags
    = stylesheet_link_tag    "application", media: "all", data:{turbolinks:{track: true}}
    = javascript_include_tag "application", data:{turbolinks:{track: true}}
    = favicon_link_tag()
    = favicon_link_tag('apple-touch-icon-180x180.png',
                     {rel: 'apple-touch-icon',
                      sizes: '180x180',
                      type: 'image/png'})
    = analytics_init if Rails.env.production?
  %body
    = render 'shared/header'
    - flash.each do |key, value|
      - key = "info" if key == "notice"
      - key = "danger" if key == "alert"
      = content_tag :div, value, class: "alert alert-#{key}"
    = yield
    = render 'shared/footer'
